@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
form{
   position: center;
   height: 100%;
   width: 100%;
}
body{
    text-align: center;
    display: flexbox;
    min-height: 100vh;
    align-items: center;

}
*{
    font-family: 'Poppins';
    box-sizing: border-box;
    outline: none;
    justify-content: center;
}
#problemTitle{
    background-color:rgba(255,255,255,0.6);
    border-radius: 2px;
    border-style: double;
}
#helpDiv{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
#helpImg{
    display: block;
    width: 100%;
    height: 50%;
}
#helpForm{
    position: absolute;
    top: 50%; /* Adjust this value to vertically center the text */
    left: 50%; /* Adjust this value to horizontally center the text */
    transform: translate(-50%, -50%); /* Center the text precisely */
    padding: 10px 20px; /* Add some padding to the text */
    font-size: 100%; /* Adjust the font size */
    text-align: center; /* Center the text horizontally */
    font-family: Poppins;
}
.container{
    width: 360px;
    background: #f4f2f2;
    box-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
    opacity: 0.6;
}
.container form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;
}
form h1{
    padding: 10px 0;
}
form .id{
    position: relative;
}
.id i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) ;
}
form input{
    width: 50%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #080808;
    border-radius: 3px;
    background: #faf8f8;
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;
    opacity: 0.7;
}
form textarea{
    padding: 5px 15px;
    border: 1px solid #0d0d0d;
    border-radius: 3px;
    background: #fffcfc;
    font-size: 20px;
    width: 50%;
    margin: 4px 0;
    opacity: 0.7;
}
form button{
    margin-top: 5px;
    border: none;
    background: #2986f8;
    color: #222;
    padding: 10px 0;
    width: 50%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}
